<section id="admins" class="section">
    <div class="container">
        <div class="row g-4 justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">All admins</h5>

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each admins}}
                                <tr id="row-{{this._id}}">
                                    <th scope="row">{{add @index 1}}</th>
                                    <td>{{this.fname}} {{this.sname}}</td>
                                    <td>{{this.email}}</td>
                                    <td>{{this.role}}</td>
                                    <td>
                                        <button class="btn-ico red" onclick="removeAdmin(`{{this._id}}`)">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </button>
                                        <a href="/admin/admins/{{this._id}}" class="btn-ico blue">
                                            <i class="fa-regular fa-pen-to-square"></i>
                                        </a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-7 d-flex justify-content-center align-items-center">
                <a href="/admin/add-admin" class="btn">Add Admin</a>
            </div>
        </div>
    </div>
</section>