<header id="header">
    <div id="harmburger" class="harmburger active">
        <div></div>
        <div></div>
        <div></div>
    </div>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="https://i.pinimg.com/564x/57/e4/7f/57e47fa25cab8a9b49aca903bfa049a8.jpg" alt="Profile"
                        class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">
                        {{#if user}}{{user.fname}}{{else}}admin{{/if}}
                    </span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        {{#if user}}
                        <h6>{{user.fname}} {{user.sname}}</h6>
                        <p>{{user.role}}</p>
                        {{else}}
                        <h6>Admin</h6>
                        <p>admin</p>
                        {{/if}}                        
                    </li>
                    {{!-- <li>
                        <hr class="dropdown-divider">
                    </li> --}}
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/account">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    {{!-- <li>
                        <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                            <i class="bi bi-question-circle"></i>
                            <span>Need Help?</span>
                        </a>
                    </li> --}}
                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="/admin/logout">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </nav>
</header>